// fonts
@import 'helpers/fonts.scss';

//slick
@import 'helpers/_slick.scss';
@import 'helpers/slick-theme.scss';

//components
@import 'components/layouts.scss';
@import 'components/carousel.scss';
@import 'components/audio.scss';
@import 'components/nav.scss';
@import 'components/forms.scss';

input {
	max-width: 320px;
}

select, input[type="text"]{
  width:100%;
  box-sizing:border-box;
}

h1 {
	text-align: center;
	font-weight: 500;

}

h2 {
	color: $secondary-color;
	text-align: center;
	margin-bottom: 4px;
}

.btn-gray {
	background-color: $background-gray;
	color: $dark-gray;
	border-radius: 10px;
	font-weight: 500;


	&:hover {
		background-color: $anchor-gray-hover;
	}
}

.border-right {
	border-right: 1px solid $white;
}

.btn-classic {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.45em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 1.063em;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #80AC34;
    color: #ffffff;
}

.button {
	@extend .btn-classic;

	&.gray {
		background-color: $background-gray;
		color: $dark-gray;

		&:hover {
			color: black;
			background-color: $anchor-gray-hover;
		}
	}


	&.next {
        font-size: 1.33rem;
        max-width: 115px;

			i {
				font-size: 1rem;
				margin-left: 4px;
			}

	}

	&.white {
	background-color: $white;
	border: 1px solid $gray;
	color: $dark-gray;

		&:hover {
		  background-color: $anchor-color-hover;
		}
	}

}


.txt-small {
	color: $medium-gray;
	font-size: .8rem;
	line-height: 1.2;
}

.txt-large {
	font-size: 1.25rem;
}


header {
	position: relative;
	height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    .header-left {
		border: 1px solid $gray;
		border-radius: 7px;
		height: 44px;
		width: 44px;
		margin: 10px 0 0 10px;

	    i {
		 @include hamburger($medium-gray, $dark-gray, 24px, 20px, 3px, 3);
		 	&:after {
			 	top: 5%;
			 	left: -8%;
		 	}
		}

		&:hover {
		  background-color: $light-gray;
		  color: $medium-gray;
		}

		.button {
			background: none;
			padding: 10px;
			margin: 0;
		}

	}

    &.wizard {
	    @include top-bar-container;
	    @include xy-cell-block-container;
	    @include xy-grid(horizontal, false);
	    padding-bottom: 10px;

	    i {
		   &:before {
			   font-size: 24px;
		   }
	    }

	    .back-btn {
		    margin-left: 15px;

		    i {

			    &:before {
			    font-size: .9rem;
			    margin-right: 4px;

			    }
		    }
	    }

	    .home {
		    margin-right: 15px;
			margin-top: 2px;
	    }

    }



	.view-style {

	    a {
		color: $gray;
		font-weight: 500;
		font-size: 1.04rem;

			&.active {
				color: $primary-color;
				border-bottom: 2px solid $primary-color;
			}
		}

		span {
			color: $gray;
			padding: 0 6px;
		}


	}

}//end header

.feedback-bar {
  background-color: $background-lighter-gray;
	text-align: center;
	padding: 7px 0;
	margin-bottom: 10px;
	font-size: .9rem;

	span {
		color: $dark-gray;
		padding: 0 5px;

		&.pipe {
			color: $gray;
		}
	}

}//feedback-bar

// annotations style
.annotations * {
	  font-size: 100%;
	  margin: 0;
	  padding:0;
}

.annotations {
		text-align: center;
		padding: 0 8vw;
		line-height: 1.3;


		h5 {
			color: black;
			text-transform: none;
			font-size: 1.15rem;
			margin-top: .25rem;
			font-weight: 500;
		}

		a, span {
			font-size: .7rem;
			line-height: 1.3;
			display: block;
		}

		a {
			display: inline-block;
		}

		span {
			color: $medium-gray;
		}

		p {
			font-size: 1.05rem;
			line-height: 1.5;
			color: $dark-gray;
			margin-bottom: .50rem;
		}

	@include breakpoint(medium) {
		padding: 0 3vw;
	}
}

//a three-button row
.three-btns {
text-align: left;


    .more-to-do {
		@extend .menu;
		@extend .expanded;

		li {

			&.play-sound {
			   max-width: 40px;
			   margin-right: 10px;
			}

			a {
				padding: 0;
				margin: 0;

				&.button {
					@extend .btn-classic;
					margin: 5px 2px 0 0;
					padding: .5rem .6rem;
					font-size: .9rem;

					&.narrow {
						max-width: 200px;
						margin: 0 auto;

						i {
							&:before {
								font-size: .9rem;
								margin-left: 8px;
							}
						}
					}
				}
			}

		}

	}

}//end three-button row


///page spinner loader
.loader {
  border: 8px solid $gray;
  border-radius: 50%;
  border-top: 8px solid $primary-color;
  width: 56px;
  height: 56px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 30px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
