/* Slick Slider */
.slider {
	margin-top: 0;
	background-color: #fff;

    a.species-name {
    padding: 0 40px !important;
    line-height: 1.1;
    font-size: 16px;
    line-height: 1.3;
	}

	
	&.slick-slider {
    position: relative;
    display: block;
    margin-bottom: 30px;
    height: auto;
    

			
		.slick-slide {	

			.annotation-txt {
				@extend .annotations;
			}

		
			 a { 
		     display: block;
		     padding:0;
		     text-align: center;
		     
		     
		       &:hover {
			       color: $anchor-color-hover;
		       }
		       
				&.button.see-more {
				  display: block;
				  margin: 15px auto 5px;
				  text-align: center;
			      width: 38%;
			      padding: 8px 12px;
				}
		       
		    }

		
		}

		.slick-list {
		    position: relative;
		    overflow: hidden;
		    display: block;
		    margin: 0;
		    padding: 0;
		    &:focus {
		        outline: none;
		    }
		    .slick-loading & {
		        background: white url(./ajax-loader.gif) center center no-repeat;
		    }
		    &.dragging {
		        cursor: pointer;
		        cursor: hand;
		    }
		    
			.slick-track {
			    position: relative;
			    left: 0;
			    top: 0;
			    display: block;
			    zoom: 1;
			    
			    &:before,
			    &:after {
			        content: "";
			        display: table;
			    }
			    &:after {
			        clear: both;
			    }
			    .slick-loading & {
			        visibility: hidden;
			    }
			    
				.slick-slide {
					@extend .border-right;
					display: block;	
					height: auto;									
						img {
						  width: 100%;
						}
				}
			}
			
		}
    
    }//end-&slick-slider
	

}//end slider


/* Carousel Controls */
.slick-prev, .slick-next {
	z-index: 100;
    height: 100px;	
    width: 35px;
    
		&:before {
	   	 font-family: 'icomoon';
	   	 font-size: 35px;
	   	 line-height: 1;
	   	 color: white;
	   	 text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	   	 font-weight: 900;
	   	 opacity: 0.85;
	   	 -webkit-font-smoothing: antialiased;
	   	 -moz-osx-font-smoothing: grayscale;
	    }
}

.slick-prev {
    
    &:before {
        content: "\e90c";
    }
}

.slick-next {
	
    &:before {
        content: "\e90b";
    }

}

&.slick-3 {
	.slick-prev, .slick-next {
	 top: 42%;
	 
	 	@include breakpoint(small) {
	 		top: 36%;
		}	
	}	
	
	.slick-prev {
		left: -4px;
	}
	
	.slick-next {
		right: 0;
	}
	
}	
