//form styles
input {
	.search {
		&:before {
			font-family: 'icomoon';
			content: "\e910";

		}
	}
}

[type='text']:focus {
	    border: 1px solid $primary-color;
}

// radio buttons
form {
	@include xy-grid-container;


	&.behaviors {

        ul {
	        margin: 0;
	        padding: 0;

			.behav-list {
				text-align: left;
				list-style: none;
				padding: 15px 0 15px 30px;
				border-top: 1px solid $background-gray;
				font-size: 18px;
				align-content: center;


				&:first-child {
					border-top: none;
				}



				.behav-check {
					@extend .radio-btn-custom;

						.checkmark {
					    top: -19px !important;
	                    }
				}

			}
		}
	}


    .silos {
	     width: 280px;
	     height: auto;
	     margin-bottom: 4px !important;
    }

    .size-label {
		margin: 15px auto !important;
	}

	.scale-element {
		margin: 10px auto 20px !important;
	}

	fieldset {
	 margin-bottom: 15px !important;
	    &.scale {
		    max-width: 300px;


					.scale-img {
					display: inline-block;
					padding: 0;
				    margin:0;
				    padding: 0 7px;


					img {
						display: block;
						width: auto;

					}


						.size-scale {
							@extend .radio-btn-custom;
						}//end size-scale

				}//end scale-img




		}//end scale

		&.color {
		@include xy-grid-layout(4, '.container');
		padding: 0;
		margin: 0;


		    label {
			    display: inline-block !important;
		    }


			/* The container */
			.container {
			    margin-bottom: 12px;
			    cursor: pointer;
			    font-size: 22px;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    margin-bottom: 30px;

			    &:hover input ~ .color-swatch {
			    background-color: #ccc;
				}


				span {
					    display: block;
					    font-size: .75rem;
				}

			    input {
			    position: absolute;
			    opacity: 0;

			        &:checked ~ .color-swatch {
				       border: 3px solid $primary-color;


				        &:after {
						display: block;
						}

				        &.black {
					    background: black; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(black, $dark-gray); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(black, $dark-gray); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(black, $dark-gray); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(black, $dark-gray); /* Standard syntax (must be last) */
						}

						&.gray {
					    background: $dark-gray; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient($dark-gray, $gray); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient($dark-gray, $gray); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient($dark-gray, $gray); /* For Firefox 3.6 to 15 */
					    background: linear-gradient($dark-gray, $gray); /* Standard syntax (must be last) */
						}

						&.white {
					    background: $white; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#f0f0e4, $white); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#f0f0e4, $white); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#f0f0e4, $white); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#f0f0e4, $white); /* Standard syntax (must be last) */
						}

						&.buff {
					    background: #c29754; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#5a2f12, #c29754); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#5a2f12, #c29754); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#5a2f12, #c29754); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#5a2f12, #c29754); /* Standard syntax (must be last) */
						}

						&.red-rufous {
					    background: #b1171d; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#5e0505, #b1171d); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#5e0505, #b1171d); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#5e0505, #b1171d); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#5e0505, #b1171d); /* Standard syntax (must be last) */
						}

						&.yellow {
					    background: #f0e656; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#f0ce3a, #f0e656); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#f0ce3a, #f0e656); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#f0ce3a, #f0e656); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#f0ce3a, #f0e656); /* Standard syntax (must be last) */
						}

						&.olive-green {
					    background: #7f875b; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#0f6939, #7f875b); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#0f6939, #7f875b); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#0f6939, #7f875b); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#0f6939, #7f875b); /* Standard syntax (must be last) */
						}

						&.blue {
					    background: #4b7bb6; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#614d87, #4b7bb6); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#614d87, #4b7bb6); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#614d87, #4b7bb6); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#614d87, #4b7bb6); /* Standard syntax (must be last) */
						}

						&.orange {
					    background: #f6923f; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#bb5e1c, #f6923f); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#bb5e1c, #f6923f); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#bb5e1c, #f6923f); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#bb5e1c, #f6923f); /* Standard syntax (must be last) */
						}

				   }

			        &:disabled ~ .color-swatch {

				        &:after {
						display: block;
						}

				        &.black, &.gray, &.white, &.buff, &.red-rufous, &.yellow {
					    opacity: 0.7;
						}

				    }

				}

				/* Create a custom checkbox */
				.color-swatch {
				    width: 74px;
				    height: 50px;
						margin-right: 4px;
				    border: 1px solid $dark-gray;
				    border-radius: 7px;


						&:last-child {
							margin-right: none;
						}

				    &.black {
					    background: $dark-gray; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient($dark-gray, black); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient($dark-gray, black); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient($dark-gray, black); /* For Firefox 3.6 to 15 */
					    background: linear-gradient($dark-gray, black); /* Standard syntax (must be last) */
						}

						&.gray {
					    background: $gray; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient($gray, $dark-gray); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient($gray, $dark-gray); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient($gray, $dark-gray); /* For Firefox 3.6 to 15 */
					    background: linear-gradient($gray, $dark-gray); /* Standard syntax (must be last) */
						}

						&.white {
					    background: #f0f0e4; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient($white, #f0f0e4); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient($white, #f0f0e4); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient($white, #f0f0e4); /* For Firefox 3.6 to 15 */
					    background: linear-gradient($white, #f0f0e4); /* Standard syntax (must be last) */
						}

						&.buff {
					    background: #5a2f12; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#c29754, #5a2f12); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#c29754, #5a2f12); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#c29754, #5a2f12); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#c29754, #5a2f12); /* Standard syntax (must be last) */
						}

						&.red-rufous {
					    background: #5e0505; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#b1171d, #5e0505); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#b1171d, #5e0505); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#b1171d, #5e0505); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#b1171d, #5e0505); /* Standard syntax (must be last) */
						}

						&.yellow {
					    background: #f0ce3a; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#f0e656, #f0ce3a); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#f0e656, #f0ce3a); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#f0e656, #f0ce3a); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#f0e656, #f0ce3a); /* Standard syntax (must be last) */
						}

						&.olive-green {
					    background: #0f6939; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#7f875b, #0f6939); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#7f875b, #0f6939); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#7f875b, #0f6939); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#7f875b, #0f6939); /* Standard syntax (must be last) */
						}

						&.blue {
					    background: #614d87; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#4b7bb6, #614d87); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#4b7bb6, #614d87); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#4b7bb6, #614d87); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#4b7bb6, #614d87); /* Standard syntax (must be last) */
						}


						&.orange {
					    background: #bb5e1c; /* For browsers that do not support gradients */
					    background: -webkit-linear-gradient(#f6923f, #bb5e1c); /* For Safari 5.1 to 6.0 */
					    background: -o-linear-gradient(#f6923f, #bb5e1c); /* For Opera 11.1 to 12.0 */
					    background: -moz-linear-gradient(#f6923f, #bb5e1c); /* For Firefox 3.6 to 15 */
					    background: linear-gradient(#f6923f, #bb5e1c); /* Standard syntax (must be last) */
						}
				}
			}
	}



	}//end fieldset






}//end form



//custom styles

.radio-btn-custom {
display: block;
position: relative;
padding: 0;
margin: 0;
cursor: pointer;
font-size: 26px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
display: inline-block;
padding: 0 10px;

input {
position: absolute;
opacity: 0;



        &:checked ~ .checkmark {
		background-color: $primary-color;

		    &:after {
			  display: block;
			  left: 8px;
			  top: 2px;
			  width: 7px;
			  height: 14px;
			  border: solid white;
			  border-width: 0 3px 3px 0;
			  -webkit-transform: rotate(45deg);
			  -ms-transform: rotate(45deg);
			  transform: rotate(45deg);
			}

		}


	    }//end inputs

	    /* On mouse-over, add background color */
	    &:hover input ~ .checkmark {
	    background-color: $primary-color;

		}

    	/* Create a custom radio button */
		.checkmark {
		    position: absolute;
		    top: -16px;
		    left: -14px;
		    height: 26px;
		    width: 26px;
		    background-color: $white;
		    border: 2px solid $gray;
		    border-radius: 50%;


		         /* Create the checkmark/indicator (hidden when not checked) */
					&:after {
					  content: "";
					  position: absolute;
					  display: none;
					}

		}

}//end radio-btn-custom
