.detail-results {
	margin-top: 15px;
	padding-bottom: 30px;
	border-bottom: 15px solid $medium-gray;

	    &.my-container {
		   @include xy-grid-container;
	    }

	    &:last-child {
		    border: none;
	    }


		.more-wrapper {
		@extend .three-btns;
		margin: 0 auto;
		@include xy-cell(12, true);
		padding: 0 18px;

		    p {
			    font-size: .9rem;
		    }

		    .more-to-do {

			    .button {
				    @extend .btn-classic;

				    &.yes-bird {
					    margin: 0 auto;
					    font-size: 1.08rem;
					    margin-top: 40px;
				    }
			    }

			    li {
				 @include xy-cell(1, false);

				  &.my-bird {
					  max-width: 160px;
				  }
			    }
		    }

		    .button {
			    margin: 30px auto 0;
			    font-size: 1rem;

			    i {
				    &:before {
				    margin-left: 7px;
				    margin-top: 6px;
				    }
			    }
		    }


			@include breakpoint(medium) {
				@include xy-cell(8);
				@include xy-cell-offset(2);
			}

			@include breakpoint(large) {
				@include xy-cell(4);
				@include xy-cell-offset(4);
			}


		}//end more wrapper

		.slider.slick-slider {
			margin-bottom: 15px;
		}

		.congrats-wrapper {
			@include xy-cell(12, true);


		    & * {
			text-align: center;
			margin: 0 auto;
			}


			p {
				line-height: 1.2;
				margin-bottom: 15px;
			}

			a {
				display: block;
			}

			.button {

					&.learn-more {
						max-width: 280px;
						font-size: 1.25rem;
						border-radius: 7px;
						margin: 0 auto 15px;
						line-height: 1.2;
					}

			}


						.save-birds {
							max-width: 120px;

							a {

							   @extend .button;
							}
						}


			@include breakpoint(medium) {
				@include xy-cell(4);
				@include xy-cell-offset(4);

			}

		}//end congrats wrapper



		.sound-list {
			list-style: none;
			margin: 0 auto !important;
			padding: 0 !important;


		        li {
			        padding: 15px 0;


	                span, small {
		                display: block;
		                margin-left: 54px;
		                line-height: 1.3;
		                font-size: .8rem;
	                }

			        small {
				       color: $medium-gray;
			        }

			        span {
				        margin-top: 6px;
			        }

			        .jp-flat-audio {
	                    position: relative;

		                .jp-details {
			                top: 0;
			                left: 0;

		                     span {
			                 font-size: 1.08rem;
			                 margin-left: 0;
			                 color: $dark-gray;
			                 position: absolute;
			                 top:-35px;
			                 }
		                }

	                    .jp-seek-bar {
		                    position: absolute;
		                    background-color: $primary-tint;
		                    top: 30px;
		                    left: 48px;
		                    height: 3px;
		                    max-width: 210px;
	                    }

		                .jp-play-bar {
			                position: absolute;
		                    left: 0;
		                    top: 0;
		                    background-color: $primary-color;
		                    height: 3px;
		                }

		                .jp-control {

		                }

		                .jp-timing {

			                .jp-duration {
				                position: absolute;
				                color: $dark-gray;
				                right: 0;
			                }
		                }
	                }

			        &:last-child {
				       border: none;
			        }

			    }//end li


			}//end sound-list




}//end detail results

.detail-list {

	.results-list {

	 list-style: none;
	 margin: 0;

	     .grid-x {
		     height: auto;
		     @extend .grid-margin-x;

	     }


		 li {
          border-bottom: 1px solid $background-gray;
		  @extend .align-middle;

		  & * {
			  margin: 0;
			  padding: 0;
		  }


		  &:first-child {
			  margin-top: 15px;
		  }

		  &:hover {
			  background-color: $anchor-color-hover;
			  color: $white;

			  	h1 {
				  	color: $light-gray;
			  	}

				i {

				    color: $white;
				}
		  }

          div  {
		    @extend .cell;
		   }



		    img {
			     max-height: 125px;
			     width: auto;
		    }


			h1 {
				text-align: left;
				font-size: .9rem;
				font-weight: 400;
			}

			i {

				font-weight: 100;
				font-size: 1.5rem;
				text-align: center;
				color: $primary-color;
				margin-right: 15px;

			}

		}//end li

	  }//end results list

	  	@include breakpoint(medium) {

			.results-list {
			@include xy-cell(6);
			@include xy-cell-offset(3);

		}

	}


}//end detail list

.home-wrap {
	@include xy-grid-container;

	.main-content {

		&.brand-style {
			margin-top: 20px;

			    & * {

				  	text-align: center;
				  	margin: 0 auto;

			    }

			    span {

					display: block;
					margin-bottom: 1vh;
					color: $medium-gray;
					font-size: .8rem;

			    }

					.txt-small {
						max-width: 220px;
						margin: 1em auto;
					}


			    .brand {


				    h1 {
					    font-size: .9rem;
					    color: $dark-gray;
					    font-weight: 400;
				    }

				  	.logo-bg {
					  max-width: 220px;
				  	}

				  	.merlin-mark  {
					  	max-width: 183px;
					  	margin-bottom: 2vh;
				  	}

				}

				.start-button {
					margin-bottom: 3.57vh;
					margin-top: 3.5vh;
					max-width: 277px;


				    .button-wrap {

						.merlin {
							max-width: 125px;
							margin-left: -35px;
							z-index: 150;

						}

						a.button {
							@include button-style($primary-color, $anchor-color-hover, $white);
							font-size: 2rem;
							display: block;
							border-radius: 7px;
							padding: 32px 18px;
							margin-top: -30px;

						}
					}

				}


				&.email-sign-up {

					.brand {

					  	&.smaller {
						  	.logo-bg {
							  	max-width: 204px;
						  	}

						  	.merlin-mark {
							  	max-width: 170px;
						  	}

						}
					}


					h1, h2, p, input, .button {
						margin: 15px auto;
					}


					h2 {
						font-size: 1.4rem;
						margin: 0 auto !important;
					}

					p {
						color: $dark-gray;
						display: block;
						font-size: .8rem;

						&.cta-text {
							font-size: 1rem;
							max-width: 296px;
							line-height: 1.4;
							margin: 4px auto 15px;

						}
					}

					.button {
						@extend .btn-classic;

						font-size: 1.15rem !important;

											i {
						&:before {
							margin-top: 4px;
							margin-left: 2px;
						}
					}
					}



				}


				.email-list {
					margin-top: 30px;

					span {
						margin-bottom: 0;
					}
				}


		}//end brand

		.button {

		    &.gray {

				&.browse {
					font-size: 1.08rem;
					font-weight: 400;
					margin-bottom: 15px;
			    }
			}

			&.white {

				@extend .button;
				@extend .white;

				&.save-list {
					font-size: 1.25rem;
					margin: 10px 0 30px;
				}
			}
		}

		.two {
			.button.gray {
				font-size: .75rem;

				&:first-child {
					margin-right: 8px;
				}
			}
		}

	}
}

.wizard-wrap {


	.main-content {



		& * {
			margin: 0 auto;
			text-align: center;
		}

		input.search {
			margin-bottom: 10px;
			width: 400px;
		}

		&.spin-loader {
			margin-top: 24vh;

			h4 {
				margin-top: 20px;
			}
		}

		h1 {
			margin:15px auto;
		}


	    h4 {
		    color: $dark-gray;
		    margin-bottom: 30px;
		}


		.location-list {
			list-style: none;
			width: 400px;

			.txt-small {
				margin-top: 1.25em;
				line-height: 1.3;
			}

			div.grid-x   {
				padding: 15px 0;
				border-bottom: 1px solid $gray;
				line-height: 1.3;



				i, a, a span {
					margin: 0;
					display: inline;
					text-align: left;

				}

				i {
					margin-right: 10px;
				}

				span {
					font-size: .9rem;
				}

				.caret {
					font-size: 1.5rem;
					font-weight: 100;

					i {
					color: $primary-color;
					}
				}

				&:hover {
					color: $anchor-color-hover;

					.caret i {
						color: $anchor-color-hover;
					}
				}


				&:last-child {
					border-bottom: none;
				}
			}



		}

		form {

                label {
	                &.date {
		                font-size: 1.2rem;
	                }
                }

				.reset {
					margin: 15px auto;
					font-size: .8rem;
					text-transform: uppercase;
					font-weight: 400;
				}

		}

		.button.next, .reset {
			display: block;
		}

	}//end main-content

	.wizard {

		.counter {
			margin-left: -28px !important;
		}
	}


}// end wizard-wrap




.main-content, .grid-content {
@include xy-grid-container;

		.my-grid {
			@include xy-grid;

			.grid {
				 @include xy-cell(12);

				  form {
	 	 				 @include xy-grid-container(400px);
	 	 				 padding: 0;
 	 				 }

				@include breakpoint(medium) {
			 	 @include xy-cell(8);
			 	 @include xy-cell-offset(2);
			 	}

			 	@include breakpoint(large) {
			 	 @include xy-cell(6);
			 	 @include xy-cell-offset(3);
			 	 }

			 	 &.narrow {
 	 				 @include xy-cell(12);

 	 				 form {
	 	 				 @include xy-grid-container(260px);
 	 				 }

 	 				 @include breakpoint(medium only) {
 	 				 	@include xy-cell(6);
 	 				 	@include xy-cell-offset(3);
 	 				 }

 	 				 @include breakpoint(large) {
 	 				 	@include xy-cell(4);
 	 				 	@include xy-cell-offset(4);
 	 				 }


			 	 }

			}

		}


}//end main content
