.section-menu-wrap {
	@include xy-grid-container;
	
	.section-menu {
		@include xy-cell(2);
		@include xy-cell-offset(5);		
		margin-bottom: 3vh;
		margin-top: 2vh;
	    @extend .menu;
		border-bottom: 1px solid $gray;
		
		    li {
				text-align: center;
				min-width: 50%;
				
				a {
					font-size: .9rem;
					padding: .5rem .25rem;
				}
			}
		
		    			
			&.three {
				@include xy-cell(6);
				@include xy-cell-offset(3);	
		        margin-bottom: 20px;
			
			    li {
				    min-width: 33.3333%;
				    
				    i {

					    &:before {
						    font-size: 14px;
							margin-right: 8px;
					    }
					    
					    &.icon-binoculars {
						    &:before {
							    font-size: 13px;
						    }
					    }
				    }
			    }	

				
			}
			
			
		/* medium only */
	    @include breakpoint(medium only) { 
		    
		    &.three {
				@include xy-cell(8);
				@include xy-cell-offset(2);	
			}


		} 		
			
			
		/* small down */
	    @include breakpoint(small down) { 
		    margin-bottom: 0;
		    @include xy-cell(12, 0);
		    
		    &.three {
				@include xy-cell(12);
				
				a {
					padding: .5rem .33rem;
				}
			}

		}    	
	}
}

.off-canvas {
	background-color: $dark-gray;
	
	.close-button {
		position: static;
		text-align: right;
		color: $white;
		background-color: transparent;
		
		a, a span {
			background: none;
		}
	}
	
	ul {
		
		&:first-child {
			margin-top: 0;
		}
		
		li {
			background: transparent;
			border-bottom: 1px solid $medium-gray;
			
			&:first-child, &:last-child {
				border: none;
			}
			
			a {
				color: $white;
				
				&:hover {
					color: $anchor-gray-hover;
				}
			}
		}
	}
}