<div class="wizard-wrap">

	<header class="wizard">
			<div class="back-btn"><a href="color.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="counter"><span> 5 of 5
			{{> header-wiz-btm}}
			<div class="feedback-bar"><span>Sapsucker Woods, Ithaca, Ny</span> <span class="pipe">|</span>  <span>May 27</span></div>

	</header>

	
	<section class="main-content">
		<h1>Was the bird…?</h1>

		<div class="my-grid">
	        <div class="grid narrow">
		        <form class="behaviors">

			<fieldset>

				<ul>

					<li class="behav-list">
						<label class="behav-check">
					    	<input name="behavior" value="1" id="sparrow-sized" type="radio">
							<span class="checkmark" for="sparrow-sized"></span>
						</label>
						Eating at a feeder
					</li>


					<li class="behav-list">
						<label class="behav-check">
						    <input name="behavior" value="2" id="btwn-sparrow-robin" type="radio">
						    <span class="checkmark" for="btwn-sparrow-robin"></span>
						</label>
						Swimming or wading
					</li>

					<li class="behav-list">
						<label class="behav-check">
						    <input name="behavior" value="3" id="robin-sized" type="radio">
						    <span class="checkmark" for="robin-sized"></span>
						</label>
						On the ground
					</li>

					<li class="behav-list">
						<label class="behav-check">
						    <input name="behavior" value="4" id="btwn-robin-crow" type="radio">
						    <span class="checkmark" for="btwn-robin-crow"></span>
						</label>
						In trees or bushes
					</li>

					<li class="behav-list">
						<label class="behav-check">
						    <input name="behavior"  value="5" id="crow-sized"  type="radio">
						    <span class="checkmark" for="crow-sized"></span>
						</label>
						On a fence or wire
					</li>

					<li class="behav-list">
						<label class="behav-check">
						    <input name="behavior" value="6" id="btwn-crow-goose" type="radio">
						    <span class="checkmark" for="btwn-crow-goose"></span>
						</label>
						Soaring or flying
					</li>

				</ul>


			  </fieldset>



				<a class="button next" href="spinner.html">Next <i class="icon-chevron-right"></i></a>

		</form>
	        </div>
		</div>

	</section>

</div>
