<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="size.html"><i class="icon-chevron-left"></i>Back</a></div>
			<div class="counter">4 of 5
			{{> header-wiz-btm}}
			<div class="feedback-bar">Sapsucker Woods, Ithaca, Ny <span>|</span>  May 27</div>
			
	</header>
	
	
	<section class="main-content">
		<h1>What were the main colors?</h1>
		<h4>Select from 1 to 3</h4>
		
		<div class="my-grid">
	        <div class="grid">
		    	<form>
			    
		 		<fieldset class="color">
			 		
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch black"></span>
					  <span>Black</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch gray"></span>
					  <span>Gray</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch white"></span>
					  <span>White</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch buff"></span>
					  <span>Buff</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch red-rufous"></span>
					  <span>Red/Rufous</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch yellow"></span>
					  <span>Yellow</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch olive-green"></span>
					  <span>Olive/Green</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch blue"></span>
					  <span>Blue</span>
					</label>
					
					<label class="container">
					  <input type="checkbox"></input>
					  <span class="color-swatch orange"></span>
					  <span>Orange</span>
					</label>
					
			    </fieldset>
			    
	        </form>
	        
				<a class="button next" href="behavior.html">Next <i class="icon-chevron-right"></i></a>
				
			</div>
		</div>
		    
	</section>
	
</div>