
<div class="home-wrap">


	<div class="main-content brand-style email-sign-up">
		<div class="my-grid">
	        <div class="grid">
		            <!--brand area -->
		            <div class="brand smaller">
						<!-- Lab Logo -->
						<div class="logo-bg" role="logo">
							<a href="http://www.birds.cornell.edu/?__hstc=75100365.e7f0d2a5b378ef003ab9d712c1e044f7.1493992327685.1493992327685.1493992327685.1&amp;__hssc=75100365.2.1493992327685&amp;__hsfp=546219330" rel="parent" title="the Cornell Lab of Ornithology"></a>
							<object type="image/svg+xml" data="assets/img/CLO-SVG-logo.svg" class="svg-logo">The Cornell Lab of Ornithology</object>
						</div>

						<!--<div class="merlin-mark">
							<img src="{{root}}assets/img/merlin-mark.png" align="Merlin Mark">
						</div>
						<h1><strong>ID help:</strong> for 400+ North American Birds</h1>-->

				    </div>

				    <!--form area -->
				    <section>
					    <form class="main-grid grid-layout">
							<h2>Save the birds you ID!</h2>
							<p class="cta-text">To continue using this free tool, please enter your email address. This also gives you access to a premium feature: the ability to save the birds you ID for future reference.</p>
							<input type="text" placeholder="Email Address...">



							<a class="button" href="size.html">Submit <i class="icon-chevron-right"></i></a>
							<p>The Cornell Lab will send you updates about birds, birding, and opportunities to help bird conservation. You can unsubscribe at any time. We will never sell or give your email address to others.</p>
							 <div class="browse birds"><a >Privacy Policy</a></div>
					    </form>
				    </section>
		</div>
	</div>
</div>
