
<div class="home-wrap">

	<!--<header>
		<div class="header-left">
			<a class="button header topics" data-toggle="offCanvasLeft"><i></i></a>

		</div>
	</header>-->

	<div class="main-content brand-style">



		            <!--brand area -->
		            <div class="brand">

						<!-- Lab Logo -->
						<div class="logo-bg" role="logo">
							<a href="http://www.birds.cornell.edu/?__hstc=75100365.e7f0d2a5b378ef003ab9d712c1e044f7.1493992327685.1493992327685.1493992327685.1&amp;__hssc=75100365.2.1493992327685&amp;__hsfp=546219330" rel="parent" title="the Cornell Lab of Ornithology"></a>
							<object type="image/svg+xml" data="assets/img/CLO-SVG-logo.svg" class="svg-logo">The Cornell Lab of Ornithology</object>
						</div>

						<div class="merlin-mark">
							<img src="{{root}}assets/img/merlin-mark.png" align="Merlin Mark">
						</div>


						<h1>ID help for 650+ North American Birds</h1>

				    </div>

				    <section class="main-content">

					    <div class="start-button">

						        <div class="button-wrap clearfix">

									<img src="{{root}}assets/img/merlin.png" align="Merlin Bird graphic" class="merlin cell">
									<a class="button" href="where.html">Start Bird ID <i class="icon-chevron-right"></i></a>

						        </div>
					    </div>
				    </section>


				    <!--<div>
					    <a class="button gray browse">Browse all Birds</a>
				    </div> -->

				    <p class="txt-small">Merlin is also a free app you can install on your device:</p>

				    <div class="two align-center">
					    <a class="button gray">APPLE STORE</a>
					    <a class="button gray">GOOGLE PLAY</a>
				    </div>


				    <div class="email-list">
					    <span>Repeat users:</span><a href="#">Email me my list of saved birds</a>
				    </div>

	</div>

</div>
