<div class="wizard-wrap">

	<header class="wizard">
			<div class="back-btn"><a href="results-details-id.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>
	</header>


	<!--Species One Carousel and Info -->
	<section class="detail-results">

		<div class="carousel wide id-carousel">
			<h2>Congratulations! You identified….</h2>
			<h1>Species Name</h1>
			<div class="slider slick-3">
				   {{#repeat 5}}
			       <div>
			        	<a href="#"><img src="{{root}}assets/img/Orange-crownedWarbler-1.jpg"></a>
						<div class="annotation-txt">
							<h5>Adult</h5>
							<span>© Photo Credit | <a href="https://www.macaulaylibrary.org/">Macaulay Library</a></span>
							<span>City Here, State, United States, 00/00/0000 </span>
						</div>
			       </div>
			       {{/repeat}}
		    </div>
		</div><!--end carousel wide-->

		<div class="congrats-wrapper">

			    	<p class="txt-small">Learn more about
							<a href="#" class="txt-large">Species Name Here</a>
						</p>

		  <div class="save-birds">
				<a href="email-collection.html">Save My Bird</a>
			</div>

		</div><!--end congrats wrapper-->

	</section>

</div>
