<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="results-detail.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>	
	</header>
	
				
	{{> species-name}}
	
	<nav class="section-menu-wrap">
			<ul class="section-menu three">
				<li class="active"><a href="#"><i class="icon-binoculars"></i>ID Info</a></li>
				<li><a href="results-details-sounds.html"><i class="icon-volume-up"></i>Sounds</a></li>
				<li><a href="results-details-map.html"><i class="icon-globe"></i>Map</a></li>
			</ul>
	</nav>
	
	<!--Species One Carousel and Info -->
	<section class="detail-results">
		
		<div class="carousel wide id-carousel">
			
			<div class="slider slick-3">
				   	{{#repeat 5}}
			        <div>
			        	<a href="#"><img src="{{root}}assets/img/Orange-crownedWarbler-1.jpg"></a>
						<div class="annotation-txt">
							<h5>Adult</h5>
							<span>© Photo Credit | <a href="https://www.macaulaylibrary.org/">Macaulay Library</a></span>
							<span>City Here, State, United States, 00/00/0000 </span>
						</div>
			       	</div>	
					{{/repeat}}
		    </div>
		</div><!--end carousel wide-->
		<div class="more-wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et augue cursus, convallis purus eget, hendrerit metus. Phasellus turpis sem, congue in felis placerat, laoreet auctor eros.</p>
		
		{{> yes-bird}}
		
		</div><!--end more-wrapper-->
 
	</section>
	
	
</div>