<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="results-detail.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>	
	</header>
	
	{{> species-name}}
	
	<nav class="section-menu-wrap">
			<ul class="section-menu three">
				<li><a href="results-details-id.html"><i class="icon-binoculars"></i>ID Info</a></li>
				<li class="active"><a href="results-details-sounds.html"><i class="icon-volume-up"></i>Sounds</a></li>
				<li><a href="results-details-map.html"><i class="icon-globe"></i>Map</a></li>
			</ul>
	</nav>
	
	<!--Species One Carousel and Info -->
	<section class="detail-results grid-content">
					
		<div class="my-grid">
			<div class="grid narrow">
				<ul class="sound-list">	 
					{{#repeat 4}} 
					<li>  	
						<!-- jPlayer -->
						<div id="jquery_jplayer_audio" name="https://www.allaboutbirds.org/guide/SOUND/SPECIES/541A.mp3" class="jp-jplayer player-audio"></div>
						<div id="jp_container_audio" class="jp-flat-audio button-style-player" role="application" aria-label="media player">    
							<div class="jp-play-control jp-control">
								<button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
							</div>
							<div class="jp-bar">
								<div class="jp-seek-bar jp-seek-bar-display"></div> 
								<div class="jp-seek-bar">	       
									<div class="jp-play-bar"></div>	
									<div class="jp-details">
										<span class="jp-title" aria-label="title">Song</span></div>
									<div class="jp-timing">
										<span class="jp-duration" role="timer" aria-label="duration"></span>
									</div>       
								</div>   
							</div>    
							<div class="jp-no-solution">  
								 Media Player Error<br />
								 Update your browser or Flash plugin
							</div>
						</div>
						<span>Alaska, US, 06/06/2006</span>
						<small>Recorded by Geoffrey A. Keller</small>
					</li>
					{{/repeat}}
				  </ul>	
		    </div>
		</div>
		
		<div class="more-wrapper">
			{{> yes-bird}}
		</div><!--end more-wrapper-->
 
	</section>
	
	
</div>