<div class="wizard-wrap">

	<header class="wizard">
			<div class="back-btn"><a href="behavior.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>
	</header>
	<div class="feedback-bar">Sapsucker Woods, Ithaca, Ny <span>|</span>  May 27</div>

	<nav class="section-menu-wrap">
		<ul class="section-menu">
			<li><a href="results-detail.html">Detail</a></li>
			<li class="active"><a href="results-list.html">List</a></li>
		</ul>
	</nav>

	<!-- List Style Results -->
	<section class="detail-list grid-content">
	    <div class="my-grid">
			<ul class="results-list grid-container">
				{{#repeat 5}}
				<li class="grid-x align-justify">
						<div class="cell small-4"><a href="results-details-id.html"><img src="{{root}}assets/img/Orange-crownedWarbler-1.jpg"></a></div>
					    <div class="cell small-6"><a href="results-details-id.html"><h1>Black-bellied Whistling Duck</h1></a></div>
					    <div class="auto"><a href="results-details-id.html"><i class="icon-chevron-right"></i></a></div>
				</li>
				{{/repeat}}
		    </ul><!--end list -->
		</div>
	</section>



</div>
