<div class="wizard-wrap">

	<header class="wizard">
			<div class="back-btn"><a href="behavior.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>
	</header>
	<div class="feedback-bar">Sapsucker Woods, Ithaca, Ny <span>|</span>  May 27</div>

	<nav class="section-menu-wrap">
		<ul class="section-menu">
			<li class="active"><a href="results-detail.html">Detail</a></li>
			<li><a href="results-list.html">List</a></li>
		</ul>
	</nav>

	{{#repeat 2}}
		<!--Species One Carousel and Info -->
		<section class="detail-results">

			<div class="carousel wide id-carousel">
				<h1>Species Name</h1>
				<div class="slider slick-3">
					   {{#repeat 4}}
					       <div>
					        	<a href="#"><img src="{{root}}assets/img/Orange-crownedWarbler-1.jpg"></a>
								<div class="annotation-txt">
									<h5>Adult</h5>
									<span>© Photo Credit | <a href="https://www.macaulaylibrary.org/">Macaulay Library</a></span>
									<span>City Here, State, United States, 00/00/0000 </span>
								</div>
					       </div>
						{{/repeat}}
			    </div>
			</div><!--end carousel wide-->
			<div class="more-wrapper">

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et augue cursus, convallis purus eget, hendrerit metus. Phasellus turpis sem, congue in felis placerat, laoreet auctor eros.
				</p>

			    <ul class="more-to-do">

			    	<!-- Sound Player -->
				     <li class="play-sound">
						<!-- jPlayer -->
						<div id="jquery_jplayer_audio" name="https://www.allaboutbirds.org/guide/SOUND/SPECIES/541A.mp3" class="jp-jplayer player-audio"></div>
						<div id="jp_container_audio" class="jp-flat-audio button-style-player" role="application" aria-label="media player">
							<div class="jp-play-control jp-control">
								<button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
							</div>

							<div class="jp-no-solution">
								 Media Player Error<br />
								 Update your browser or Flash plugin
							</div>
						</div>
					</li>
				    <!--End Sound Player -->

				    <li>
				    	<a href="results-congrats.html" class="button txt-my-bird">This Is My Bird</a>
				    	<a href="results-details-id.html" class="button">Details...</a>
				    </li>

			    </ul>

			</div><!--end more-wrapper-->

		</section>

	{{/repeat}}

</div>
