<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="results-detail.html"><i class="icon-chevron-left"></i> Back</a></div>
			<div class="home"><a href="index.html"><i class="icon-home"></i></a></div>	
	</header>
	
				
	{{> species-name}}
	
	<nav class="section-menu-wrap">
			<ul class="section-menu three">
				<li><a href="results-details-id.html"><i class="icon-binoculars"></i>ID Info</a></li>
				<li><a href="results-details-sounds.html"><i class="icon-volume-up"></i>Sounds</a></li>
				<li class="active"><a href="results-details-map.html"><i class="icon-globe"></i>Map</a></li>
			</ul>
	</nav>
	
	<!--Species One Carousel and Info -->
	<section class="detail-results grid-content">
		<div class="my-grid">
	        <div class="grid">
		        
			<img src="{{root}}assets/img/OCWA-range-map.jpg">	
			</div>
        </div>

			<div class="more-wrapper">
		
			{{> yes-bird}}
		
			</div><!--end more-wrapper-->

 
	</section>
	
	
</div>