<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="when.html"><i class="icon-chevron-left"></i>Back</a></div>
			<div class="counter"><span> 3 of 5
			{{> header-wiz-btm}}
			<div class="feedback-bar">Sapsucker Woods, Ithaca, Ny <span>|</span>  May 27</div>
			
	</header>
	
	
	<section class="main-content">
		<h1>What size was the bird?</h1>
		
		<div class="my-grid">
	        <div class="grid">
				<form>
				    
				    <div class="scale-element"> 
						<img class="silos" src="{{root}}assets/img/silos.png" alt="sparrow-sized or smaller" class="sparrow">
			
						<fieldset class="scale">
							
							<div class="scale-img">
								<label class="size-scale">
							    	<input name="size" value="1" id="sparrow-sized" type="radio">
									<span class="checkmark" for="sparrow-sized"></span>
								</label>
							</div>
							
							
							<div class="scale-img">
								<label class="size-scale">  
								    <input name="size" value="2" id="btwn-sparrow-robin" type="radio">
								    <span class="checkmark" for="btwn-sparrow-robin"></span>
								</label>
							</div>
							    
							<div class="scale-img">    
								<label class="size-scale">   
								    <input name="size" value="3" id="robin-sized" type="radio">
								    <span class="checkmark" for="robin-sized"></span>
								</label>
							</div>
							
							<div class="scale-img">
								<label class="size-scale">  
								    <input name="size" value="4" id="btwn-robin-crow" type="radio">
								    <span class="checkmark" for="btwn-robin-crow"></span>
								</label>
							</div>
							
							<div class="scale-img">
								<label class="size-scale">  
								    <input name="size" value="5" id="crow-sized"  type="radio">
								    <span class="checkmark" for="crow-sized"></span>
								</label>
							</div>
							
							<div class="scale-img">
								<label class="size-scale">     
								    <input name="size" value="6" id="btwn-crow-goose" type="radio">
								    <span class="checkmark" for="btwn-crow-goose"></span>
								</label>
							</div>
							
							<div class="scale-img">
								<label class="size-scale">  
								    <input name="size" value="7" id="goose-sized" type="radio">
								    <span class="checkmark" for="goose-sized"></span>
								</label>
							</div>
							
						  </fieldset>
						
						
						<div class="size-label">Add size label here</div>
				    </div>
				   
			    	
				  <a class="button next" href="color.html">Next <i class="icon-chevron-right"></i></a>
			  	
			</form>
	        </div>
		</div>
	
		    
	</section>
	
</div>