<div class="wizard-wrap">



	<section class="main-content spin-loader">
		<a href="results-detail.html">
			<div class="loader"></div>
			<h4>Creating list of possible birds</h4>
        </a>
	</section>

</div>
