<div class="wizard-wrap">
	
	<header class="wizard">
			<div class="back-btn"><a href="where.html"><i class="icon-chevron-left"></i>Back</a></div>
			<div class="counter"><span> 2 of 5
			{{> header-wiz-btm}}
			<div class="feedback-bar">Sapsucker Woods, Ithaca, Ny</div>
			
	</header>
	
	
	<section class="main-content">
		<h1>When did you see the bird?</h1>
		
		
		<form class="my-grid">
		  	<div class="grid">
		      	<label for="right-label" class="date">Date</label>
			    <input type="text" class="date" placeholder="00/00/0000">

				<a href="#" class="reset">Reset to Today</a>		
				<a class="button next" href="size.html">Next <i class="icon-chevron-right"></i></a>
			</div>
		</form>
		    
	</section>
	
</div>