<div class="wizard-wrap">

	<header class="wizard">
			<div class="back-btn"><a href="index.html"><i class="icon-chevron-left"></i>Back</a></div>
			<div class="counter"><span> 1 of 5
			{{> header-wiz-btm}}


	<section class="main-content">
		<h1>Where did you see the bird?</h1>


		<form class="my-grid">

		    <div class="grid">

				   <input type="text" class="search" placeholder="Enter city and state or postal code">
				    <div class="location-list grid-container full">
					    {{#repeat 5}}
						    <div class="grid-x align-justify">
									<div class="cell small-10">
									  <a href="when.html">
							          	<i class="icon-map-marker"></i>
									  	<span>1485 Trumansburg Road, Ithaca, NY, United States</span>
							        	</a>
							    </div>
									<div class="shrink caret"><a href="when.html"><i class="icon-chevron-right"></i></a></div>
							</div>
						{{/repeat}}
						<p class="txt-small">Merlin Bird ID for the Web currently works in the continental U.S. and Canada. <a href="#">Download the mobile app</a> for more world regions.</p>
					</div>

		  	</div>

		</form>

	</section>

</div>
