{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merlin Web Static</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
 
    <!-- Off Canvas Nav-->	  
	<nav class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
	
	    <!-- Menu -->
	    <ul class="vertical menu">
		  <li><a href="#" class="close-button" aria-label="Close menu" data-close><span aria-hidden="true">&times;</span></a></li>
	      <li><a href="#">Home</a></li>
	      <li><a href="#">Start Bird ID</a></li>
	      <li><a href="#">Help</a></li>
	      <li><a href="#">Contact US</a></li>
	      <li><a href="#">About this app</a></li>
	      <li><a href="#">All About Birds</a></li>
	    </ul>
    </nav>

	<! This div is my off-canvas page content wrapper --> 
	<div class="off-canvas-content" data-off-canvas-content>  
	    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}	
		
	    {{> body}}
    </div>

    <script src="{{root}}assets/js/app.js"></script>    
    
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>	
	<script type="text/javascript" src="{{root}}assets/jplayer/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="{{root}}assets/jplayer/jplayer/flat.audio.min.js"></script>
	<script type="text/javascript" src="{{root}}assets/slick/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
	    
			$('.slick-3').slick({
			  infinite: false,
			  arrows: true,
			  dots: true,
			  centerMode: true,
			  //centerPadding: '0',
			  slidesToShow: 3,
			  initialSlide: 1,
			  responsive: [
			    {
			      breakpoint: 1023,
			      settings: {
				    //infinite: true,
				    arrows: false,
			        //centerMode: true,
			       // centerPadding: '30px',
			       // slidesToShow: 3,
			      }
			    },
			    {
			      breakpoint: 640,
			      settings: {
				    infinite: false,
			        arrows: true,
			        centerMode: true,
			        centerPadding: '30px',
			        slidesToShow: 1,
			        initialSlide: 0
			      }
			    }
			  ]
			});

    });
    

  </script>
    	    
  </body>
</html>
