@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lsgibn');
  src:  url('../fonts/icomoon.eot?lsgibn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lsgibn') format('truetype'),
    url('../fonts/icomoon.woff?lsgibn') format('woff'),
    url('../fonts/icomoon.svg?lsgibn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e902";
}
.icon-volume-up:before {
  content: "\e903";
}
.icon-volume-off:before {
  content: "\e904";
}
.icon-gift:before {
  content: "\e905";
}
.icon-question-circle:before {
  content: "\e906";
}
.icon-question:before {
  content: "\e907";
}
.icon-book:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-map-marker:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e90e";
}
.icon-globe:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-binoculars:before {
  content: "\e911";
}
.icon-bars:before {
  content: "\e912";
}
.icon-navicon:before {
  content: "\e912";
}
.icon-reorder:before {
  content: "\e912";
}
.icon-external-link:before {
  content: "\e913";
}
